﻿@using System.Web.Mvc.Html
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav navbar-right">
        <li class="welcome-header-text">
            @Session["promoCode"]
        </li>
        <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
    </ul>
    }
}

