﻿@model MorozInc.BuyAndRead.ViewModels.LoginViewModel
@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Вход на сайт пре-сэйлов";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.PromoCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PromoCode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Вход" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger">@Html.Raw(ViewBag.Error)</p>
                        }
                        <hr/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Новый промо-код!", "CreatePromoAndLogin", "Account")
                    </div>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}